header {
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
}

.material-icons {
    font-size:36px;
}

.menu {
   color: black;
}

.letters {
    display: flex;
    justify-content: center;
}

.numbers {
    display: flex;
    justify-content: center;
}

.newDiv {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width:150px;
}

